en/docs/Scenarios/4product-scenarios/attachments/97563577/97563579.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://workflow.application.apimgt.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://workflow.application.apimgt.carbon.wso2.org">
    <wsdl:documentation>ApplicationCreationWorkflow</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://workflow.application.apimgt.carbon.wso2.org">
            <xs:element name="createApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationTier" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationCallbackUrl" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationDescription" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="workflowExternalRef" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="callBackURL" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createApplicationRequest">
        <wsdl:part name="parameters" element="ns:createApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createApplicationResponse">
        <wsdl:part name="parameters" element="ns:createApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ApplicationCreationWorkflowPortType">
        <wsdl:operation name="createApplication">
            <wsdl:input message="ns:createApplicationRequest" wsaw:Action="urn:createApplication"></wsdl:input>
            <wsdl:output message="ns:createApplicationResponse" wsaw:Action="urn:createApplicationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationCreationWorkflowSoap11Binding" type="ns:ApplicationCreationWorkflowPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createApplication">
            <soap:operation soapAction="urn:createApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationCreationWorkflowSoap12Binding" type="ns:ApplicationCreationWorkflowPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createApplication">
            <soap12:operation soapAction="urn:createApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationCreationWorkflowHttpBinding" type="ns:ApplicationCreationWorkflowPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createApplication">
            <http:operation location="createApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationCreationWorkflow">
        <wsdl:port name="ApplicationCreationWorkflowHttpSoap11Endpoint" binding="ns:ApplicationCreationWorkflowSoap11Binding">
            <soap:address location="http://10.100.0.104:9768/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationCreationWorkflowHttpsSoap11Endpoint" binding="ns:ApplicationCreationWorkflowSoap11Binding">
            <soap:address location="https://10.100.0.104:9448/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationCreationWorkflowHttpsSoap12Endpoint" binding="ns:ApplicationCreationWorkflowSoap12Binding">
            <soap12:address location="https://10.100.0.104:9448/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationCreationWorkflowHttpSoap12Endpoint" binding="ns:ApplicationCreationWorkflowSoap12Binding">
            <soap12:address location="http://10.100.0.104:9768/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationCreationWorkflowHttpsEndpoint" binding="ns:ApplicationCreationWorkflowHttpBinding">
            <http:address location="https://10.100.0.104:9448/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="ApplicationCreationWorkflowHttpEndpoint" binding="ns:ApplicationCreationWorkflowHttpBinding">
            <http:address location="http://10.100.0.104:9768/services/ApplicationCreationWorkflow.ApplicationCreationWorkflowHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>